@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;  
	font-weight: 400;
}

h1 {
	color: #66bbff;
}

.Botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.Botao2 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 2px 5px 2px 5px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 400;
	border-radius: 5px;
}

.botao-editar {
	text-decoration: none;
	background-color: #00b300;
	padding: 1px 4px 1px 4px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 400;
	border-radius: 4px;
}

.botao-excluir { 
	text-decoration: none;
	background-color: #e10000;
	padding: 1px 4px 1px 4px;
	color: #fff;
	font-size: 0.8em;
	font-weight: 400;
	border-radius: 4px;
}

.hide{
    display:none;
}

#clicavel{
cursor: pointer;
}

#clicavel:hover{
color: red;
}

#clicavel:active{
color: blue;
}